<div class="instruct_info_bg">    
        <p>
            Рекомендуется, чтобы на борту лодки находились две батареи: одна - для пуска двигателя, 
            другая - для электроприборов.
        </p>
        <p>
            Большинство владельцев лодок приобретают стандартные автомобильные аккумуляторы для своих лодок.  
            Они относительно недороги, безопасны и имеют длительный срок службы. Срок службы батареи 
            сокращается из-за длительных периодов простоя, неправильной зарядки или чрезмерного использования.
        </p>
        <p>
            Как правило, автомобильные аккумуляторы представляют собой обыкновенные свинцово-кислотные 
            аккумуляторные батареи, которые требуют постоянной проверки уровня жидкости батареи и надлежащей 
            вентиляции аккумуляторного пространства. Когда уровень жидкости достигает нижнего предела, 
            в ячейки батареи доливают дистиллированную воду (не используйтеь водопроводную воду!)
        </p>
        <p>
            Лучше всего для лодок подходят гелевые свинцово-кислотные аккумуляторные батареи, 
            их срок службы значительно больше, чем обычных жидкостных свинцово-кислотных батарей.
        </p>
        <p>
            Также на сегодняшний день широко используются батареи, не нуждающиеся в обслуживании. 
            Они не требуют доливания жидкости.
        </p>
        <p>
            Уровень заряда аккумулятора можно проверить с помощью измерения удельного веса гидрометром. 
            Это хороший способ определить, не нуждается батарея в зарядке. Способность батареи завести лодочный мотор, 
            может быть определена на бензозаправке с помощью нагрузочного теста, при котором на батарею 
            несколько раз подается ток, и измеряется падение напряжения.
        </p>
        <p>
            <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Если вы храните ваши батареи в лодке 
            в течение зимы, было бы неплохо, заранее их зарядить, чтобы улучшить их устойчивость против минусовых температур.
        </p>
    </div>