<div class="instruct_info_bg">    
        <p>
            Если осенью работы по подготовке лодки к зиме были проведены тщательно, 
            то весной практически не придется выполнять никакие сервисные работы.
        </p>
        <p>
            Перед спуском лодки на воду, не забудьте закрыть пробку в нижней части транца. 
            Также было бы неплохо провести ряд весенних мероприятий, для повышения безопасности лодки.  
            При проведении официальной инспекции вашей лодки, также необходимо провести проверку 
            оборудования для обеспечения безопасности на борту. Тем не менее, даже если в официальной 
            инспекции лодка не нуждается, было бы неплохо проверить оборудование лодки весной, 
            чтобы обеспечить безопасность.
        </p>
        <ul>
            <li>Организуйте обслуживание огнетушителя лодки в сервисном центре.</li>
            <li>Проверьте сроки годности сигнальных огней и пирофакелов и замените те, срок годности которых истек.</li>
            <li>Проверьте количество и состояние всех спасательных жилетов: рефлекторные полоски, свистки, ремни и пряжки.</li>
            <li>Убедитесь в том, что на борту есть штормовой фонарь с резервным топливом, функционирующим фонариком и с запасным аккумулятором.</li>
            <li>Убедитесь, что лодка оснащена всеми необходимыми инструментами.</li>
            <li>Проверьте систему электроснабжения от окисления и влаги и обеспечьте обслуживание по мере необходимости.</li>
            <li>Проверьте состояние и заряд батарей лодки.</li>
            <li>Очистите полюса и разъемы батарей.</li>  
            <li>Проверьте охлаждающую жидкость радиатора и при необходимости замените.</li>  
            <li>Проверьте состояние водяного насоса и клиновых ремней генератора переменного тока, и убедитесь, что у вас есть запасные ремни на случай необходимости.</li>    
        </ul>
        <p>
            Кроме электрического лодочного насоса, на борту также должен быть функционирующий ручной насос.
        </p>
        <p>
            <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong>  Организуйте обслуживание печей, 
            обогревателей и холодильников, а также газовых приборов, в авторизованном сервисном магазине.
        </p>
        <h4>Весенний осмотр внешнего двигателя</h4>
        <p>
            Если перед зимой было выполнено тщательное обслуживание, то потребуется провести всего несколько 
            мероприятий перед креплением мотора.
        </p>
        <p>
            Для двухтактного двигателя необходимо сжечь старое масло. Для четырехтактного, проверьте уровень трансмиссионного масла.  
            Проверьте уровень моторного масла для любого типа двигателя. Кроме того, убедитесь, что винт, свечи зажигания, 
            шланги и т.д. находятся на месте и надежно закреплены.  Замените топливо, оставшееся в топливном баке от предыдущего сезона.
        </p>
        <p>
            Во время пуска двигателя, убедитесь, что туда поступает охлаждающая вода. После первого пуска, двигатель будет дымить больше, 
            чем обычно, из-за сгорания старого масла.
        </p>
    </div>