
<!-- Widget - аккордеон -->
<div id="accordion">

        <!-- Заголовок - отдельная секция -->

        <h3>Очистка и полировка</h3>

        <!-- div - контент, который отображается при клике на секцию-->

        <div>
            <p>
                Помойте лодку сразу же после извлечения ее из воды на зиму. Поверхности из стеклопластика можно легко помыть 
                при помощи очистителя высокого давления. Если у вас нет такого очистителя, а лодка в нормальном состоянии, 
                ручной мойки будет достаточно, чтобы ее очистить. Водоросли и тину легче всего отчистить, пока они еще не засохли.
            </p>
            <p>
                Очиститель высокого давления представляет собой удобный и эффективный инструмент, простой и безопасный в использовании, 
                и с подходящими щетками и наконечниками, вам даже не потребуются никакие моющие средства.  Горячий пар очистителя 
                высокого давления даже убьет споры плесени, бактерий и пылевых клещей.
            </p>
            <p>
                Недостатком этого аппарата является то, что горячий пар, к сожалению, удалит и воск, поэтому лодку придется заново 
                вскрывать воском весной.  Пар очистителя может конденсироваться на поверхностях в холодную осеннюю погоду, поэтому 
                протрите их насухо.
            </p>
            <p>
                <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Не используйте очиститель высокого давления 
                для очистки поверхностей из тикового дерева!
            </p>
            <p>
                Для поддержания в хорошем состоянии палубы и боков обычно достаточно мойки и полировки воском. Для этих целей лучше 
                всего использовать вещества, предназначенные специально для лодок. Не используйте сильные растворители, поскольку 
                они лишают блеска стеклопластиковые поверхности. Разрешается использовать умеренно абразивные полирующие вещества 
                для удаления потертостей и стойкой грязи.
            </p>
        </div>

        <!-- ********************************* SECTION 2  ******************************************************  -->

        <h3>Советы по очистке</h3>
        <div>
            <p>
                Если вы используете водопроводную воду, добавьте ведро воды несколько капель жидкого мыла. Это уменьшит жесткость 
                воды и, таким образом, удалит мелоподобный минеральный налет, который мог остаться на поверхности лодки.
            </p>
            <p>
                Пятна от капель воды и извести легко удаляются c перил при помощи средства для чистки мебели.
            </p>
            <p>
                Лодочные канаты можно погрузить на пару часов в ведро воды, в которое предварительно добавьте бутылку яблочного 
                уксуса и немного кондиционера для белья. Дайте им хорошо просохнуть, и канаты станут как новенькие
            </p>
        </div>

        <!-- ********************************* SECTION 3  ******************************************************  -->

        <h3>Подушки сидений</h3>
        <div>
            <p>
                Не оставляйте подушки сидений в лодке на зиму, храните их в сухом и хорошо вентилируемом месте. Хотя подушки 
                сидений изготовлены из водонепроницаемого материала, вода может проникнуть внутрь через швы. Если подушки будут 
                оставаться влажными длительное время, они могут заплесневеть и испортиться.
            </p>
            <p>
                Рекомендуется смазывать застежки подушек сидений силиконовой смазкой (или силиконовым спреем) время от времени, 
                так как в противном случае они могут заклинить.
            </p>
            <p>
                Пятна плесени на лодочных сидениях, обтянутых искусственной кожей можно удалить, протерев их концентратом 
                лимонного сока с добавлением щепотки поваренной соли. Это также оставит на сидениях свежий запах.
            </p>
        </div>

        <!-- ********************************* SECTION 4  ******************************************************  -->

        <h3>Тент</h3>
        <div>
            <p>
                Зимой рекомендуется хранить лодочный тент в сухом, хорошо вентилируемом месте. Также рекомендуется смазывать 
                застежки тента силиконовой смазкой (или силиконовым спреем) время от времени, так как в противном случае они 
                могут заклинить.
            </p>
        </div>
        
        <!-- ********************************* SECTION 5  ******************************************************  -->

        <h3>Ветровое стекло</h3>
        <div>
            <p>
                Ветровые стекла лодок Yamarin изготавливаются из закаленного стекла или акрила. Акриловые ветровые стекла можно 
                мыть только мыльной водой, не используйте растворители.
            </p>
        </div>

        <!-- ********************************* SECTION 6 ******************************************************  -->

        <h3>Устройство дистанционного управления</h3>
        <div>
            <p>
                Устройство дистанционного управления, как правило, необходимо смазать маслом и отладить перед зимой.
            </p>            
        </div>

        <!-- ********************************* SECTION 7 ******************************************************  -->

        <h3>Система рулевого управления</h3>
        <div>
            <p>
                Убедитесь, что все части системы рулевого управления на месте и подтяните ослабленные гайки и болты.
            </p>    
            <p>
                Проверьте пластиковое покрытие рулевого кабеля. Если оно повреждено, кабель необходимо заменить. См. 
                инструкции в руководстве по эксплуатации лодки.
            </p>        
        </div>

        <!-- ********************************* SECTION 8 ******************************************************  -->

        <h3>Электрические компоненты</h3>
        <div>
            <p>
                Для защиты главного выключатель, выключателя навигационных огней, разъемов и т.д. от окисления, 
                время от времени спрыскивайте их лосьоном против коррозии.
            </p>            
        </div>
    </div>