<div class="instruct_info_bg">    
        <p>
            Для начала проверьте состояние лодочного прицепа, а затем поднимите лодку на прицеп и тщательно закрепите его. 
            Убедитесь, что у вас есть все необходимое для запуска лодки, например, пробка для сливного отверстия и ключи зажигания. 
            Независимо от того, как именно вы погружаете лодку в воду, снимайте лодку с прицепа очень осторожно. 
            Помните, что лодка - это тяжелый груз. Поэтому ведите машину очень осторожно и не забывайте сохранять безопасное 
            расстояние до впереди идущих машин. Не стесняйтесь попросить о помощи другого человека или лиц, и используйте 
            любое подходящее подъемное оборудование, имеющееся в наличии.
        </p>
        <p>
            Если вы частично погружаете прицеп в воду, чтобы спустить лодку, сначала отключите все электрические соединения 
            между автомобилем и прицепом и снимите лодочные ремни крепления.  Привяжите к носу лодки веревку, достаточно длинную, 
            чтобы ее конец доставал до берега, когда лодка окажется на воде. Осторожно задом подъедьте к воде, но не заезжайте в воду. 
            Заглушите двигатель, затяните стояночный тормоз, включите передачу, и, подойдя сбоку, подложите что-то под колеса автомобиля. 
            Снимите лодку с прицепа и погрузите в воду. Другой человек должен с берега держать конец веревки, привязанной к носу лодки. 
            Зайдите в лодку, и когда она опустится в воду, опустите внешний мотор в воду.
        </p>
        <p>
            Не забудьте убедиться, что в лодке нет воды. А теперь, пусть лодочный сезон начнется!
        </p>
        <p>
            <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> 
            Не забудьте закрыть пробкой сливное отверстие!
        </p>
    </div>