
<!-- Widget - аккордеон -->
<div id="accordion">

        <!-- Заголовок - отдельная секция -->

        <h3>Подъем лодки из воды</h3>

        <!-- div - контент, который отображается при клике на секцию-->

        <div>
            <p>
                По окончании плавательного сезона, необходимо вытащить лодку из воды, и подготовить ее к зиме не 
                дожидаясь замерзания воды. Лодка не должна на зиму оставаться во льду и, тем более, ее не стоит 
                использовать в покрытой льдом воде. Подготовка к зиме – это погрузка лодки на прицеп или специальные 
                козлы и накрытие ее от снега.
            </p>
        </div>

        <!-- ********************************* SECTION 2  ******************************************************  -->

        <h3>Перед тем, как извлечь лодку из воды, выполните следующие действия:</h3>
        <div>
            <ul>
                <li>Очистите лодку и смойте видимые загрязнения</li>
                <li>Удалите из трюма воду и лишние предметы </li>
                <li>Смените масло двигателя</li>
                <li>Проверьте другие инструкции в руководстве по эксплуатации двигателя</li>
            </ul>
            <p>
                Подъем и транспортировка лодки должны быть тщательно спланированы, поэтому, если вы решили воспользоваться 
                лебедкой, подготовьте ее заранее.  Перед транспортировкой удалите всю воду в лодке и извлеките незакрепленные 
                предметы. Но не забудьте оставить оборудование обеспечения безопасности, например огнетушитель, в лодке.  
                Также убедитесь, что трос достаточно длинный, и вы сможете полностью контролировать лодку во время подъема.
            </p>
            <p>
                Вы можете погрузить заднюю часть прицепа в воду, затянуть лодку на него, надежно привязать и вытянуть на берег. 
                В этом случае не забудьте заранее проверить надежность соединения прицепа с машиной и давление в колесах.
            </p>
            <p>
                Обязательно смойте соленую воду и смажьте ниппели и подшипники маслом.
            </p>
        </div>

        <!-- ********************************* SECTION 3  ******************************************************  -->

        <h3>Транспортировка на прицепе</h3>
        <div>
            <p>
                Прицеп - это самое удобное средство для транспортировки лодки по суше. Обязательно убедитесь в том, 
                что двигатель прицепа, его размер и другое оборудование могут быть использованы для перевозки лодки такого 
                размера и веса. Проверьте характеристики вашей машины и максимальный допустимый вес прицепа.
            </p>
            <p>
                Несущая часть прицепа должна удерживать большую часть веса лодки. Отрегулируйте бортовые направляющие выступы, 
                чтобы исключить перемещения лодки влево-вправо на прицепе во время транспортировки. Очистите направляющие выступы 
                от песка и любых других загрязнений, чтобы не поцарапать дно лодки. Заприте все замки.
            </p>
            <p>
                Плотно закрепите лодку на прицепе, перед тем, как начать транспортировку. Веревка, привязанная к носу, должна 
                быть направлена вперед и вниз. Чтобы предотвратить движение кормы перетяните лодку ремнем по середине.  
                Ни в коем случае, не оставляйте незакрепленные предметы или груз в лодке во время транспортировки. Снимите подушки 
                с сидений и плотно закройте все люки.
            </p>
            <p>
                В идеале, двигатель должен находиться в положении внизу, но если дорожные условия не позволяют такой вариант, 
                вы можете наклонить двигатель вперед, закрепить в таком положении, и накрыть чем-нибудь, чтобы защитить транец.
            </p>
            <p>
                Центр тяжести прицепа должен располагаться в его передней части. Убедитесь, что лодка была хорошо закреплена на 
                прицепе и что вес лодки равномерно распределен по обоим бокам.  Если лодка может двигаться влево-вправо, ее корпус 
                может повредиться при транспортировке.
            </p>
            <p>
                Снимая лодку с прицепа, убедитесь, что ее будет легко отсоединить от прицепа, когда она погрузится в воду.
            </p>
            <p>
                Вытащив лодку из воды, выпустите воду, скопившуюся на днище, открыв пробку в нижней части транца. Не забудьте 
                закрыть пробку перед погрузкой лодки обратно в воду.
            </p>
            <p>
                Если лодка будет храниться на прицепе, ослабьте ремни после транспортировки и обязательно затяните их снова перед 
                следующей перед перевозкой.
            </p>
        </div>

        
    </div>