<div class="instruct_info_bg">    
        <p>
            Перед первой поездкой не забудьте проверить следующие вещи:
        </p>
        <ul>
            <li>Погодные условия и прогноз.</li>
            <li>Загрузку и стабильность лодки.</li>
            <li>Спасательные жилеты для каждого на борту.</li>
            <li>Достаточно ли топлива в баке и в канистре.</li>
            <li>Работает ли двигатель правильно.</li>
            <li>В рабочем ли состоянии руль, электрооборудование и батареи.</li>
            <li>Отсутствие утечек топлива или воды.</li>
            <li>Оборудование безопасности на борту.</li> 
            <li>Количество воды на днище минимально.</li> 
            <li>В помещениях, где храниться топливо, работает вентиляция.</li>     
            <li>Все снаряжение в лодке закреплено.</li> 
            <li>В лодке есть свежие навигационные карты.</li>
        </ul>
    </div>