<p>
    Есть несколько деталей лодки - таких, как тент, виниловые окна, крыша каюты, пол, 
    палубы, низ корпуса, сидения, транец - за которыми нужно тщательно ухаживать, 
    чтобы поддерживать их в хорошем состоянии.
</p>


<!-- Widget - аккордеон -->
<div id="accordion">

        <!-- Заголовок - отдельная секция -->

        <h3>Общие рекомендации по уходу:</h3>

        <!-- div - контент, который отображается при клике на секцию-->

        <div>
            <ol class="mrg_bottom">
                <li>Во-первых, регулярно смывайте грязь водой или слабым мыльным раствором </li>
                <li>Тщательно удаляйте стойкую грязь при помощи соответствующих моющих средств </li>
                <li>Обязательно полируйте соответствующим средством </li>
                <li>Используйте защитные средства, например водоотталкивающие вещества и протекторы от ультра-фиолетового излучения.</li>
            </ol>
            <p>
                Для ухода за лодкой лучше всего подходят тряпки из 100% хлопка или замши. Чтобы не поцарапать покрытия, во время его 
                чистки и полировки снимайте с рук часы и кольца. Избегайте чрезмерного использования агрессивных моющих средств, поскольку 
                они, как правило, имеют свойство образовывать пленку на некоторых поверхностях, например, на вскрытых гелькоутом деталях.
            </p>
        </div>

        <!-- ********************************* SECTION 2  ******************************************************  -->

        <h3>Удаление загрязнений</h3>
        <div>
            <p>
                Когда лодка стоит на якоре в морской воде в течение длительного времени, нижняя часть лодки сильно загрязняется. Поэтому, 
                после извлечения ее из воды на зиму дно нужно тщательно почистить. Для начала, помойте дно лодки при помощи очистителя 
                высокого давления с использованием моющего средства.  Оставшиеся загрязнения можно отчистить пластиковым скребком для 
                чистки автомобильных окон, а белые пятна с помощью ножа или шпателя, но очень аккуратно, чтобы не повредить слой краски. 
                Перед спуском лодки на воду весной, добавьте последние штрихи при помощи легкой шлифовки, и, если необходимо, перекраски.
            </p>
        </div>

        <!-- ********************************* SECTION 3  ******************************************************  -->

        <h3>Поверхности из тикового дерева</h3>
        <div>
            <p>
                Тик - тропическое лиственное дерево, известное своей маслянистой древесиной, и благодаря своей красоте и 
                долговечности он является отличным выбором для лодок.
            </p>
            <p>
                Однако тиковые поверхности имеют свойство выгорать на солнце всего за одно лето, и поэтому за ними надо 
                тщательно ухаживать. Существует 2 подхода к уходу. Некоторые считают, что тик смотрится красивее всего, 
                когда становится серебристо-серым и необходимо только время от времени мыть его.
            </p>
            <p>
                Согласно другому мнению, тиковые поверхности должны быть смазаны маслом и воском, или даже лакированы, 
                чтобы сохранить первоначальный цвет и блеск.  Если вы хотите сохранить первоначальный цвет, смажьте 
                поверхность маслом сразу после покупки лодки, и потом каждый год. Для этих целей подойдет обычное 
                бесцветное древесное масло. Также не забывайте регулярно промывать тиковые поверхности, чтобы удалить грязь, 
                пятна, плесень и пыль. Это лучше всего делать с помощью мягкой губки и мыльного раствора. 
                Чтобы предотвратить образование плесени на тиковых поверхностях, после чистки смазывайте их специальными 
                средствами.
            </p>
            <p>
                <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Никогда не используйте растворители, 
                поскольку они могут повредить поверхность. Кроме того, нельзя использовать очистители высокого давления, 
                так как сильная струя воды может вымыть мягкие частички дерева, и поверхность станет пористой, а следовательно, 
                более уязвимой для пыли и плесени.
            </p>
        </div>

        <!-- ********************************* SECTION 4  ******************************************************  -->

        <h3>Тенты</h3>
        <div>
            <p>
                Лето оставляет свои следы на лодке, и тент не является исключением. К счастью, существуют эффективные моющие 
                средства, чтобы смыть грязь, жирные пятна, плесень и помет чаек. Чистку лучше всего проводить по окончании сезона, 
                но было бы не плохо также время от времени промывать тент, поскольку больше всего пятен на навесе остается от 
                человеческих рук.
            </p>
            <p>
                Обычные пятна могут быть смыты сосновым мылом, жирные пятна - уайт-спиритом, а сушеный птичий помет лучше всего 
                счищать щеткой. Удаление пятен плесени требует больших усилий и точности из-за необходимости применения специальных 
                средств на хлоритовой основе, которые могут привести к выцветанию тента. После стирки, полоскания и сушки, 
                тент можно обработать с помощью средств, которые отталкивают воду и грязь, а также предотвращают образование плесени. 
                Пятна на пластиковых окнах навеса можно смыть влажной губкой с моющим средством.                 
            </p>
            <p>
                <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Тент следует хранить в сухом месте 
                в течение зимы - не в лодке. Также было бы хорошо обрабатывать застежки на тенте перед началом каждого 
                сезона силиконовой смазкой.
            </p>
        </div>
        
    </div>