<div class="instruct_info_bg">
    <p>
        Подготовка лодок к зиме является стандартной операцией каждую осень в странах, 
        где водоемы зимой покрываются льдом, и в идеале должна включать ремонт повреждений 
        и техническое обслуживание.
    </p>
    <p>
        При поднятии лодки, ремни размещаются под корпусом таким образом, чтобы лодка оставалась 
        в горизонтальном положении при поднятии. Ни в коем случае не стоит поднимать лодку при 
        помощи швартовой тумбы. Ни при каких условиях не позволяйте никому находиться под лодкой, 
        пока она висит в воздухе.
    </p>
    <p>
        Если вы не храните лодку на прицепе в зимний период, ее стоит разместить на специальных козлах. 
        Если вы будете хранить ее на открытом воздухе - накройте лодку брезентом.
    </p>
    <p>
        Если вы используете козлы, они должны быть крепкими и устойчивыми. Для поддержки лодки используйте 
        как минимум 2 пары боковых опор. Равномерно распределите нагрузку между ними. Боковые опоры не должны 
        быть размещены на подъемных поясами наружной обшивки. Распределите вес на равномерно на опорах, опоры 
        можно смягчить какими-нибудь подушками.
    </p>
    <p>
        Если поддержка выполнена правильно, лодка должна находиться в равновесии, и большая часть ее веса 
        опирается на киль. Никогда не переворачивайте лодку кверху дном. Напротив, дно лодки должно находиться 
        над землей и обдуваться воздухом снизу.
    </p>
    <p>
        Если подвесной двигатель прикреплен к лодке, также используйте опоры для его поддержки - он не должен 
        болтаться в воздухе. Слейте охлаждающую воду из двигателя, как указано в руководстве по техническому 
        обслуживанию.
    </p>
    <p>
        Если у вас нет подходящего хранилища для лодки зимой, обязательно накройте ее брезентом. Брезент должен 
        быть закреплен тщательно, но не слишком плотно, чтобы воздух мог циркулировать под ним, и лодка сохранялась 
        сухой и свежей.
    </p>
    <p>
        Если брезент будет натянут слишком туго, в лодке может накапливаться влага, и, следовательно, образовываться 
        плесень. Также целесообразно заранее подготовить брезент к нагрузке снега, воды и льда. Снег не будет 
        скапливаться на брезенте, если его разместить таким образом, чтобы он образовывал крышу с углом как минимум 
        90 градусов.
    </p>
    <p>
        Проверьте состояние обшивки и зашлифуйте любые вмятины.  Вы также можете отремонтировать все повреждения 
        весной перед спуском лодки на воду.
    </p>
    <p>
        Позаботьтесь о том, чтобы брезент и веревки не касались поверхности лодки непосредственно, чтобы не повредить 
        покрытие.
    </p>
</div>