<div class="instruct_info_bg">    
        <p>
            Снимите гребной винт при подготовке к зиме и смажьте водостойкой смазкой вал гребного винта. 
            Проверьте гребной винт на износ и коррозии. Вы можете замазать незначительные царапины и выбоины, 
            но если на винте более серьезные повреждения, лучше обратиться к профессионалам. 
            Если гребной винт повреждается из-за удара об скалу или бревно, то скорее всего вы почувствуете 
            столкновение или заметите изменение в шуме винта или в его гребных свойствах.
        </p>
        <p>
            <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> 
            Сила вибрации может увеличиться из-за повреждения подшипников или даже вала. 
            Поэтому, настоятельно рекомендуется, ремонтировать такие повреждения немедленно, не дожидаясь конца сезона.
        </p>
    </div>