<div class="instruct_info_bg">    
    <p>
        Незначительные повреждения поверхностного слоя, или гелькоута, на корпусе лодки или палубе 
        можно отремонтировать самостоятельно. Однако выполнить аккуратное и незаметное покрытие - 
        это искусство:
    </p>
    <ul>
        <li>Используйте малярную ленту для ограничения участка, который нужно отремонтировать.</li>
        <li>Зашлифуйте края вмятины и зачистите ее ацетоном.</li>
        <li>Если глубина повреждения более 2х миллиметров, то заполните его шпатлевкой перед покраской.</li>
        <li>Добавьте в гелькоут 1,5-2 части затвердителя.</li>
        <li>Нанесите гелькоут на поврежденную область так, чтобы он немного выступало за края повреждения.</li>
        <li>Аккуратно заклейте малярной лентой отремонтированную поверхность.</li>
        <li>Когда гельклут затвердеет, удалите ленту и, если необходимо, зашлифуйте поверхность наждачной бумагой жесткостью 600-1200.</li>
        <li>Отполируйте отремонтированный участок полирующей мастикой и воском.</li>        
    </ul>
    <h4>Последствия ремонта.</h4>
    <p>
        Плохо выполненный ремонт повреждения может привести к повреждению структуры лодки и понизить уровень безопасности плавания. 
        Проконсультируйтесь со своим дилером, прежде чем выполнять грунтовочные работы.
    </p>
    <p>
        <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Ни при каких обстоятельствах не
        удаляйте из лодки плавучий материал.
    </p>
</div>