<div class="instruct_info_bg">   
    <h4>Нормативное оборудование</h4>
    <p>
        Правила водного движения гласят, что каждый катер должен иметь следующее оборудование в рабочем состоянии:
    </p>
    <ol>
        <li>Спасательные жилеты для всех на борту.</li>
        <li>Насос.</li>
        <li>Весла и якорь с веревкой.</li>
        <li>Огнетушитель не менее 2 кг, если подвесной мотор более 25 кВт (34 л.с.).</li>       
    </ol>
    <p>
        Страховка лодки может компенсировать ущерб, полученный во время плавания или во время транспортировки 
        или стыковки. Не забудьте отдельно обеспечить страхование для подъема лодки.
    </p>
    <h4>Дополнительное оборудование для обеспечения безопасности включает:</h4>
    <ul>
        <li>компас</li>
        <li>морские карты</li>
        <li>радиолокационный отражатель</li>
        <li>аварийные сигнальные ракеты</li>
        <li>прожектор</li>
        <li>бинокли</li>
        <li>спасательный круг</li>
        <li>телефон</li>
    </ul>
    <p>
        <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> 
    Даже если в законе не обязательного требования к ношению спасательных жилетов, помните, 
    что они обеспечивают вам дополнительную безопасность! Поэтому рекомендуется с самого начала приучать пассажиров, 
    а особенно детей, к постоянному ношению спасательных жилетов во время плавания.
    </p>
    <p>
        Ознакомьтесь с руководством пользователя вашей лодки и подвесного мотора, и для получения дополнительной 
        информации обращайтесь к дилеру. Приятного вам плавания! 
    </p>
</div>