
<!-- Widget - аккордеон -->
<div id="accordion">

        <!-- Заголовок - отдельная секция -->

        <h3>Чистка</h3>

        <!-- div - контент, который отображается при клике на секцию-->

        <div>
            <p>
                Регулярное уход обеспечит более длительный срок службы вашей лодки и сохранит ее в хорошем состоянии. 
                Именно поэтому рекомендуется регулярно мыть лодку и удалять все видимые загрязнения непосредственно 
                после ее использования. Птичий помет легче всего удалить сразу, но вы также можете дать ему высохнуть 
                и затем счистить при помощи щетки. Специализированные магазины предоставляют большой выбор средств 
                для ухода за лодками: стиральные и моющие средства, полирующие вещества и воски. Проконсультируйтесь 
                в местном магазине о средствах, подходящих вашей модели.
            </p>
        </div>

        <!-- ********************************* SECTION 2  ******************************************************  -->

        <h3>Сливной клапан дождевой воды</h3>
        <div>
            <p>
                В последних моделях лодок имеется автоматическая система отвода дождевой воды, для предотвращения 
                скопления воды во время плавания. Система также работает и на берегу, когда нос находится выше 
                кормы и сливной клапан дождевой воды открыт.
            </p>
            <p>
                При перевозке большого груза, клапан рекомендуется закрыть. Поэтому не забывайте регулярно проверять 
                открыт ли клапан или закрыт. Также проверяйте, не засорилась ли сливная труба листьями или другими 
                предметами. ПРИМЕЧАНИЕ! Система отвода дождевой воды не работает при температуре ниже нуля.
            </p>
        </div>

        <!-- ********************************* SECTION 3  ******************************************************  -->

        <h3>Вода на днище</h3>
        <div>
            <p>
                В трюме и на днище обычно конденсируется небольшое количество воды. С годами корпус также может 
                начать пропускать немного воды.  Поэтому, не забывайте проверять днище лодки всякий раз, когда 
                вы причаливаете и отчаливаете, поскольку вода в трюме ухудшает маневренность.
            </p>
            <p>
                Если вы обнаружили воду в трюме, откройте небольшой люк на заднем сидении вашей Yamarin 
                (там находится сливной клапан дождевой воды). И воспользуйтесь трюмной помпой или насосом с 
                гибким всасывающим шлангом.
            </p>
        </div>

        <!-- ********************************* SECTION 4  ******************************************************  -->

        <h3>Устойчивость и плавучесть</h3>
        <div>
            <p>
                Устойчивость лодки падает с ростом перевозимого груза. Любые перемещения груза по лодке 
                (особенно неконтролируемые) приводят к понижению устойчивости и ухудшению ходовых качеств.	
            </p>
            <p>
                Лодки длиной до 6 метров оснащены плавучим материалом (удаление которого запрещено), 
                который удерживает лодку на плаву даже если достигнута максимально разрешенная величина груза.  
                Плавучий материал запрещается удалять даже с целью увеличения свободного пространства в лодке.
            </p>
        </div>
        
        <!-- ********************************* SECTION 5  ******************************************************  -->

        <h3>Заправка</h3>
        <div>
            <p>
                Выключите двигатель перед заправкой во избежание возгорания или взрыва. Не Не используйте оборудование, 
                которое может искрить.
            </p>
            <p>
                Заправляясь на бензозаправке, не используйте пластиковую воронку, так как она может вызвать разряд 
                статического электричества между наконечником топливного насоса и горлышком топливного бака. После 
                заправки обязательно проверьте, что топливо не просочилась в трюм или в моторный отсек. Вытрите топливо, 
                которое просочилось.
            </p>
            <p>
                Не храните запасные канистры в непроветриваемых помещениях или без постоянного контроля за их состоянием. 
                Кроме того, не храните незакрепленные предметы в местах, где они, перемещаясь, могут повредить топливную систему. 
                Не забывайте проверять, что топливные трубы не повреждены. Ломкие и поврежденные трубы или насосы требуется 
                немедленно заменить.
            </p>
            <p>
                <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Если в вашей лодке палуба выполнена 
                из тикового дерева, желательно смачивать ее водой перед заправкой топливного бака, чтобы предотвратить 
                возникновение пятен от пролитого топлива.
            </p>
        </div>
        
        <!-- ********************************* SECTION 6  ******************************************************  -->

        <h3>Пожарная безопасность</h3>
        <div>
            <p>
                Если двигатель вашей лодки имеет мощность более 25 кВт (34 л.с.), на борту должен всегда находиться 
                двухкилограммовый ручной огнетушитель. Проверяйте работоспособность огнетушителя раз в год. Огнетушители старше 
                10 лет не принимаются без нового испытания под давлением.
            </p>
            <p>
                Убедитесь, что огнетушитель и другое оборудование для пожаротушения легко доступны, даже когда лодка загружена. 
                Содержите в трюм в чистоте и регулярно проверяйте, не произошла ли утечка топлива, и что в воздухе нет паров бензина. 
                Помните, что газифицированное топливо очень взрывоопасно. Запах топлива всегда означает, что а вашей лодке 
                присутствует газифицированное топливо.
            </p>
            <p>
                <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Покидая лодку, выключите питание главным 
                выключателем, когда вы покидаете лодку, но НИКОГДА не выключайте его пока двигатель работает - это может привести 
                к повреждению динамо.
            </p>
        </div>
        
        <!-- ********************************* SECTION 7  ******************************************************  -->

        <h3>Аварийный выключатель</h3>
        <div>
            <p>
                Аварийный выключатель является важной частью оборудования: один его конец подключается к панели замка зажигания, 
                или в некоторых моделях, к оборудованию дистанционного управления, в то время как другой конец крепится, например, 
                к вашему спасательному жилету. Аварийный выключатель выключает двигатель автоматически при извлечении из панели 
                замка зажигания.
            </p>
            <p>
                <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Никогда не используйте лодку, не подключая 
                аварийный выключатель на себя. Двигатель не запустится, пока аварийный выключатель не вставлен в панель замка зажигания.
            </p>
        </div>
                
        <!-- ********************************* SECTION 8  ******************************************************  -->

        <h3>Винт</h3>
        <div>
            <p>
                Вращающийся винт может быть смертельно опасен для тех, кто находится в воде возле лодки. Всегда выключайте двигатель, 
                когда пловец или водный лыжник поднимается в лодку.	
            </p>
        </div>

        <!-- ********************************* SECTION 8  ******************************************************  -->

        <h3>Подушки сидений</h3>
        <div>
            <p>
                Хотя подушки сидений обычно изготавливаются из водостойких материалов, они могут заплесневеть и испортиться при 
                длительном воздействии влаги. Вот почему подушки следует хранить в сухом месте когда лодка не используется, например ночью. 
                Для защиты передних сидений используйте чехлы.	
            </p>
        </div>

        <!-- ********************************* SECTION 8  ******************************************************  -->

        <h3>Управление лодкой</h3>
        <div>
            <p>
                Вы можете быстро научиться управлять моторной лодкой, но изменяющиеся условия, такие как ветер и волны, зачастую могут 
                поставить водителя в новую для него ситуацию.	
            </p>
            <p>
                Надежно закрепите все тяжелое оборудование, например якоря, перед отправлением.
            </p>
        </div>
        
        <!-- ********************************* SECTION 8  ******************************************************  -->

        <h3>Защита окружающей среды</h3>
        <div>
            <p>
                Не забывайте, что сохранять природу – наш долг. Поэтому:	
            </p>
            <ul>
                <li>Старайтесь избегать разлива топлива или утечек масла </li>
                <li>Не бросайте мусор и отходы в воду или на пляжах </li>
                <li>Не выливайте моющие средства или растворители в воду </li>
                <li>Избегайте громкого шума как при движении, так и в портах </li>
                <li>Замедляйтесь в узких каналах и на мелководье, чтобы не создавать высокой волны. </li>
            </ul>
        </div>
    </div>