<div class="instruct_info_bg">    
    <p>
        После того как лодка тщательно вымыта снаружи и изнутри, ее необходимо подготовить к зиме.  
        Если вы оставляете лодку на зиму на улице, извлеките из нее текстильные и любые другие вещи, 
        которые восприимчивы к плесени и коррозии под воздействием влаги и обеспечьте им надлежащие 
        условия хранения в сухом месте. Не рекомендуется оставлять матрасы или любую другую съемную фурнитуру, 
        даже спасательные жилеты, в лодке на зиму.
    </p>
    <p>
        Это же касается и электронной аппаратуры. Лучший способ защитить ее от окисления и воров, 
        это извлечь их из лодки и хранить в закрытом сухом помещении.  По возможности, извлеките также батареи 
        и храните их в теплом сухом месте. Используйте водоотталкивающий и антикоррозионный спрей для 
        электрических и электронных разъемов.
    </p>
    <h4>Вентиляция</h4>
    <p>
        Накройте лодку таким образом, чтобы она оставалась закрытой, но при этом оставалась возможность 
        циркуляции воздуха в лодке, чтобы обеспечить эффективную вентиляцию. Поэтому все двери, решетки, 
        вентиляционные отверстия должны оставаться открытыми на зиму. Более эффективную вентиляцию можно 
        обеспечить установив специальную вентиляционную систему. 
    </p>
    <h4>Нагреватель</h4>
    <p>
        Использование нагревателей зимой не рекомендуется, так как температура внутри лодки не должна 
        превышать температуру снаружи. В противном случае, может произойти конденсация влаги в трюме, 
        которая впоследствии начнет испаряться, и - в сочетании с эффективной вентиляцией - это приведет 
        к стабильно высокой влажности в лодке.
    </p>
    <h4>Поглотители влаги</h4>
    <p>
        Поглотители влаги часто используются для поглощения влаги в лодке. Например, плесень не способна 
        развиваться при влажности воздуха менее 50 процентов. Поглотители влаги лучше всего размещать в 
        укромных уголках и трещинах лодки, а также в кормовом отсеке.
    </p>
    <p>
        <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> 
        Использование поглотителей влажности не восполнит недостаток вентиляции - не закрывайте двери кают, 
        даже если в них размещены поглотители влаги!
    </p>
</div>