<h2 class="header_h2">Гарантии</h2>

<!-- Widget - аккордеон -->
<div id="accordion">

        <!-- Заголовок - отдельная секция -->

        <h3>1. Применение гарантийных положений</h3>

        <!-- div - контент, который отображается при клике на секцию-->

        <div>
            <p>
                Вышеперечисленные гарантийные положения вступают в силу при продаже новых серийных лодок, 
                оснащенных бортовыми идентификационными номерами. Гарантия также покрывает оборудование,
                установленное в лодке как неотъемлемая часть поставки, но исключает оборудование, покрываемое отдельной гарантией.
                Оборудование, приобретенное покупателем из других источников и не включенное в первоначальную комплектацию лодки,
                не покрывается условиями этой гарантии.
            </p>
            <p>
                Бортовой идентификационный номер и другие параметры лодки записываются в договор купли-продажи и в гарантийный/сервисный 
                талон.
            </p>
            <p>
                (Внимание! Гарантийный талон должен быть передан покупателю только в момент передачи лодки,
                когда идентификационный номер борта и другие персональные данные уже известны.)
            </p>
        </div>

        <!-- ********************************* SECTION 2  ******************************************************  -->

        <h3>2. Поставщик гарантии</h3>
        <div>
            <p>
                В соответствии с условиями этих гарантийных положений, гарантия предоставляется изготовителем/импортером.
                Контактная информация поставщика гарантии приведена в гарантийном талоне, переданном покупателю в момент доставки лодки.
            </p>
        </div>

        <!-- ********************************* SECTION 3  ******************************************************  -->

        <h3>3. Гарантийный срок, зона и ограничения действия</h3>
        <div>
            <p>
                Гарантия действительна в течение ____ лет с момента передачи лодки, при условии что покупатель
                и является пользователем лодки.
            </p>
            <p>
                Гарантия на двигатель выдается на ____ часов.
            </p>
            <p>
                В случае, когда лодка используется не по прямому назначению (например,
                в коммерческих целях, как средство заработка, место проведения официальных мероприятий и тому подобное),
                гарантия действительна в течение _ лет или _ часов работы мотора с момента передачи. 
                Гарантия истекает по истечении _ лет или _ часов работы мотора в зависимости от того какая из этих предельных цифр 
                будет достигнута раньше.
            </p>
            <p>
                Дата передачи лодки указана в сертификате доставки.
            </p>
            <p>
                Гарантия аннулируется, если в течение срока ее действия, первый покупатель лодки сдает ее лицу, 
                осуществляющему коммерческую деятельность в морской отрасли, а поставщик гарантии не был уведомлен 
                или не одобрил дальнейшее действие гарантии.
            </p>
            <p>
                Гарантия также аннулируется в случае повреждения лодки, исправленного не поставщиком гарантии, 
                или, если материальная конструкция лодки или программа его двигателя были изменены без письменного 
                согласия поставщика гарантии.
            </p>
            <p>
                Гарантия действительна в следующих странах: EС, Норвегия, Исландия, Швейцария, Россия (или в других областях).
            </p>
        </div>

        <!-- ********************************* SECTION 4  ******************************************************  -->

        <h3>4. Условия гарантии и определение поломок</h3>
        <div>
            <p>
                Поставщик гарантии несет ответственность за то, что функциональность и качество лодки остаются 
                нормальными в течение всего срока действия гарантии. В противном случае, это означает, что в лодке возникла поломка. 
                Поломка объективно оценивается как отклонения от стандартного качества модели лодки по предоставленному 
                производителем рейтингу, учитывая о возраст лодки и степень ее износа. Например, поломки делятся на дефекты конструкции, 
                дефекты производства и дефекты структурной природы и они могут включать другие недостатки и ошибки, которые препятствуют 
                правильному функционированию лодки во время периода действия гарантии.	
            </p>
            <p>
                Небольшие изменения в наружном покрытии лодки, вызванные погодными изменениями и которые не влияют на прочность 
                и исправность лодки, а также небольшие дефекты лакокрасочного покрытия, деревянной или хромированной отделки 
                или другие незначительные поверхностные дефекты, не считаются поломками, покрываемыми условиями данной гарантии.
            </p>
            <p>
                Поставщик гарантии также не несет ответственности за поломку в случае, если есть вероятность того, 
                что качество или функциональность лодки или оборудование отклоняются от нормального по собственной вине покупателя. 
                Например, если поломка была результатом аварии, несоблюдения инструкций по эксплуатации или другого неправильного 
                использования лодки или ее соответствующего оборудования, либо недостаточной реализации процедур обслуживания 
                и ремонта в соответствии с инструкциями, прилагаемыми производителем или импортером.
            </p>
            <p>
                Поставщик гарантия несет ответственность только за те поломки, которые происходят во время правильной работы лодки.
            </p>
        </div>
        
        <!-- ********************************* SECTION 5  ******************************************************  -->

        <h3>5. Порядок действий при возникновении поломки</h3>
        <div>
            <p>
                Покупатель должен уведомить поставщика лодки или поставщика гарантии о поломке в разумный срок от ее обнаружения. 
                Покупатель может сообщить о поломке не позже, чем через 2 месяца от момента ее обнаружения. При возникновении поломки, 
                покупатель, в любом случае, обязан действовать таким образом, чтобы не усугубить поломку.
            </p>
            <p>
                Сообщая о поломке, покупатель должен предоставить гарантийный талон или предоставить убедительное объяснение, 
                где и когда была приобретена лодка.
            </p>
            <p>
                В случае поломки, покупатель должен в первую очередь уведомить розничного поставщика, 
                с которым заключен договор о починке.
            </p>
            <p>
                Контактная информация розничного поставщика указана в ________ (данная информацию должна быть указана в комплекте поставки).
            </p>
        </div>
        
        <!-- ********************************* SECTION 6  ******************************************************  -->

        <h3>6. Обязанности поставщика гарантии в случае поломки</h3>
        <div>
            <p>
                Когда в лодке обнаруживается поломка, покупатель имеет право потребовать, чтобы поставщик гарантии отремонтировал поломку 
                в течение разумного периода времени от момента уведомления об этом.	
            </p>
            <p>
                Поставщик гарантии имеет право устранить поломку, если, с учетом характера и степени дефекта, это может быть сделано 
                в течение разумного срока и это не должно привести к материальному ущербу покупателю. Ремонт осуществляется в мастерской, 
                назначенной поставщиком гарантии. Тем не менее, ремонт следует проводить в месте, взаимоприемлемом как для покупателя, 
                так и поставщика гарантии.
            </p>
            <p>
                В случае, если ремонт не представляется возможным, покупатель имеет право требовать скидку на лодку, соизмеримую с 
                величиной поломки или потребовать замену лодки. Если поломка является серьезной, покупатель имеет право аннулировать 
                сделку и вернуть затраченные средства. Также покупатель имеет право аннулировать сделку, если поставщик гарантии не 
                в состоянии устранить неисправность в течение разумного срока или без материального ущерба для покупателя.
            </p>
            <p>
                Если поломка, возникшая в лодке не покрываются гарантией, поставщик гарантии имеет право взимать с покупателя 
                редства на все расходы на устранение поломки когда покупатель обращается в мастерскую по гарантийному ремонту 
                для ее устранения. Это же касается любых возможных расходов поставщика гарантии, связанных с транспортировкой 
                лодки и транспортными расходами персонала.   Поставщик гарантии также имеет право на возмещение расходов на 
                обнаружение поломки и других связанные с этим расходов, если жалобы покупателя необоснованны.
            </p>
            <p>
                Покупатель имеет право на компенсацию за ущерб, если он пострадал из-за поломки лодки.  
                Компенсации подлежат и косвенные убытки, например, телефонные и транспортные расходы покупателя при решении э
                того вопроса, а также другие необходимые расходы, такие как затраты на заключение инспектора продукта и буксировку лодки.
            </p>
            <p>
                Поставщик гарантии обязан компенсировать косвенные убытки, только если поломка произошла из-за его невнимания, 
                либо если в лодке дефект был изначально или возник при доставке на продажу.
            </p>
            <p>
                Никто, кроме покупателя не имеет право требовать возмещения убытков, возникших в результате поломки лодки.
            </p>
            <p>
                В случае, если лодка был приобретена за пределами Финляндии, поставщик гарантии не несет ответственности за прямые 
                или косвенные убытки, возникшие в результате поломки. В этом случае права покупателя на возмещение ущерба регулируется 
                законодательством страны, где состоялся акт покупки.
            </p>
        </div>
        
        <!-- ********************************* SECTION 7  ******************************************************  -->

        <h3>7. Связь гарантийных положений с законодательством о защите прав потребителей</h3>
        <div>
            <p>
                В соответствии с разделом 5 Закона о защите потребителей Финляндии, эти гарантийные положения не ограничивают право 
                покупателя на обжалование решения поставщика гарантии о поломке лодки.  Покупатель может таким образом установить 
                соответствующие обязанности поставщика или продавца и обратиться по поводу поломки в общество защиты потребителей, 
                когда, например, поломка определяется в положениях гарантии как находящаяся вне сферы действия гарантии или если дефект 
                появляется только после окончания периода гарантии. Однако ответственность поставщика за неисправность компонентов лодки, 
                которые возникают после окончания гарантийного срока или из-за поломки, которые не входят в сферу действия гарантии 
                ограничена.	
            </p>
        </div>
                
        <!-- ********************************* SECTION 8  ******************************************************  -->

        <h3>8. Разрешение споров</h3>
        <div>
            <p>
                Если разногласия не могут быть решены путем переговоров между сторонами, покупатель может донести спор до сведения 
                общества защиты потребителей. Если спор решается в суде, он должен быть решен районным судом по месту жительства 
                потребителя.	
            </p>
        </div>
    </div>