<h2 class="header_h2">Инструкции по уходу</h2>
<div class="instruct_cont">
    <div class="instruct_nav">
        <nav>
            <ul>
                <li class="instruct_nav_sub"><a data-href="/sittingSummer">Уход летом</a></li>
                <li class="instruct_nav_sub"><a data-href="/lifting">Подъем и транспортировка лодки</a></li>
                <li class="instruct_nav_sub"><a data-href="/prepForWinter">Подготовка к зиме</a></li>
                <li class="instruct_nav_sub"><a data-href="/repairOfSmall">Ремонт небольших поверхностных повреждений</a></li>
                <li class="instruct_nav_sub"><a data-href="/cleaning">Очистка</a></li>
                <li class="instruct_nav_sub"><a data-href="/maintenance">Уход</a></li>
                <li class="instruct_nav_sub"><a data-href="/propellerScrew">Гребной винт</a></li>
                <li class="instruct_nav_sub"><a data-href="/battery">Батарея</a></li>
                <li class="instruct_nav_sub"><a data-href="/storageWinter">Хранение зимой</a></li>
                <li class="instruct_nav_sub"><a data-href="/careSpring">Уход весной</a></li>
                <li class="instruct_nav_sub"><a data-href="/descentToWater">Cпуск на воду</a></li>
                <li class="instruct_nav_sub"><a data-href="/listFirstTrip">Список вещей, которые надо сделать перед первой поездкой</a></li>
                <li class="instruct_nav_sub"><a data-href="/safetyEquipment">Оборудование для обеспечения безопасности</a></li>
            </ul>
        </nav>
    </div>
    <div class="instruct_info">
        <p>
            Водные прогулки - это прекрасное хобби, и его популярность растет с каждым годом. Но многие начинающие не имеют понятия, 
            как следует ухаживать за моторными лодками, чтобы поддерживать их в хорошем состоянии и продлевать срок их службы.
        </p>
        <p>
            Именно поэтому мы составили общие инструкции, которые, как мы надеемся, будут полезны для начинающих, 
            и станут подспорьем для более опытных владельцев лодок.
        </p>
        <p>
            Они помогут вам сохранить вашу лодку и ее двигатель в хорошем состоянии, что сделает ваши прогулки более увлекательными, 
            приятными и, главное, безопасными.
        </p>
        <p>
            <strong style="font-weight: 800; color:black">ПРИМЕЧАНИЕ!</strong> Лето - лучшее время для водных прогулок, 
            а осенью выполняются самые важные работы по уходу и обслуживанию вашей лодки.
        </p>
        <p>
            Наслаждайтесь водными прогулками!
        </p>
    </div>
</div>